/* Default properties of Frontend Mentor */
.attribution {
	font-size: calc(6px + 0.5vw);
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
/* Default properties of Frontend Mentor */



/* General configuration */
body {
	font-family: "Poppins", monospace;
	background-color: hsl(0, 0%, 98%);
}
/* General configuration */



.main-title,
.secondary-title,
.subtitle {
	text-align: center;
}

.main-title {
	color: hsl(234, 12%, 34%);
	font-size: calc(30px + 0.5vw);
	font-weight: 200;
	margin-top: 5%;
}

.secondary-title {
	color: hsl(234, 12%, 34%);
	font-size: calc(30px + 0.5vw);
	font-weight: 600;
}

.subtitle {
	color: hsl(229, 6%, 66%);
	font-size: calc(8px + 0.5vw);
	margin: 10px 30%;
}

.cards {
	margin: 5% 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.middle-cards {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	width: 25vw;
	height: 15vw;
	border-radius: 5px;
	background-color: #fff;
	padding: 2% 3%;
	margin: 0 2%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-shadow: 3px 10px 10px rgba(0, 0, 0, 0.1),
				-3px 0px 10px rgba(0, 0, 0, 0.1);
}

.middle-cards .card {
	width: 27vw;
	margin: 5% 0;
	padding: 8% 9%;
}

.title {
	color: hsl(234, 12%, 34%);
	font-size: calc(12px + 0.5vw);
	font-weight: 600;
}

.subtitle-card {
	color: hsl(229, 6%, 66%);
	font-size: calc(6px + 0.5vw);
	margin-top: 10px;
}

img {
	width: 3vmax;
	height: 3vmax;
	margin-top: 10%;
	align-self: flex-end;
}

.card-1 {border-top: 5px solid hsl(180, 62%, 55%);}
.card-2 {border-top: 5px solid hsl(0, 78%, 62%);}
.card-3 {border-top: 5px solid hsl(34, 97%, 64%);}
.card-4 {border-top: 5px solid hsl(212, 86%, 64%);}


@media (max-width: 1250px) {
	.card {
		height: 20vw;
	}

	img {
		width: 4vmax;
		height: 4vmax;
	}
}

@media (max-width: 800px) {
	.cards {
		flex-direction: column;
	}

	.card,
	.middle-cards .card {
		width: 60vw;
		height: auto;
		padding: 2% 3%;
		margin: 2% 0;
	}

	.subtitle {
		margin: 10px 10%;
	}

	img {
		width: 6vmax;
		height: 6vmax;
	}
}

@media (max-width: 500px) {
	.main-title,
	.secondary-title {
		font-size: 20px;
	}

	.subtitle {
		font-size: 10px;
		margin: 10px 20%;
	}
}